@import "./Vars.module.scss";
.authwrap {
  display: grid;
  grid-template-columns: 2fr 2fr;
  .leftpanel {
    background: rgb(134 104 217);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 4em;
    ul {
      list-style: none;
      li {
        font-size: 18px;
        margin-bottom: 3em;
        color: $white;
        font-weight: bold;
        span {
          display: block;
          font-size: 14px;
          font-weight: normal;
          &.icon {
            display: flex;
            align-items: center;
            font-size: 30px;
            color: $white;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .rightpanel {
    background: #fff;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}
