@import "./Vars.module.scss";

.btnprimary {
  height: 50px;
  border-radius: 10px !important;
  width: 158px;
  background: rgb(134 104 217);
  color: $white;
  font-weight: bold;
  border: none;
  width: 100%;
}
.btnlogout {
  height: 50px;
  border-radius: 10px !important;
  width: 158px;
  border: 1px solid rgb(134 104 217);
  color: $black;
  font-weight: bold;
}
